{% extends "base.html" %}
{% block title %}Welcome on the QA blog{% endblock %}
{% block content %}
<div id="container">

    {% for article in last_articles %}
        <div class="article">
            <h3>{{ article.title }}</h3>
            <p>{{ article.content|truncatewords_html:80 }}</p>
            <p><a href="{% url 'view_article' article.slug %}">Lire la suite</a></p>
        </div>
    {% empty %}
        <p>Aucun article.</p>
    {% endfor %}
</div>
<div class="col" id="infos-and-tools">
    <h2>How to deal with your tests ?</h2>
    <p>An interesting text about how to test</p>

    <h2>Me and myself</h2>
    <p>A small text about me, how fantastic I am, etc...</p>
</div>
{% endblock %}
