<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" href="/media/css/style.css">
    <title> {% block title %} My blog on QA {% endblock %}</title>
</head>

<tbody>
<header> Q & A about QA</header>
    <nav>
        {% include "navigationBar.html" %}
    </nav>
    {% load static %}
    <img src="{% static 'blog/img/QualityAssurance.jpeg' %}" alt="Mon image" />
    <section id="content">
        {% block content %}{% endblock %}
    </section>
    <footer>&copy; QA</footer>
</tbody>
</html>