<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="/media/css/style.css">
</head>

<tbody>
<header></header>
    <a href="/">
        <img src="{% static 'blog/img/qa_about_qa_logo.png' %}" alt="QA logo" />
    </a>
    <nav>
        {% include "navigationBar.html" %}
    </nav>
    <div class="title">
        <img src="{% static 'blog/img/qa_about_qa_full.png' %}" alt="QA logo" />
    </div>
    <div class="col-container">
        {% block content %}{% endblock %}
    </div>
    <footer>&copy; QA</footer>
</tbody>
</html>