<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="/media/css/style.css">
    <title> {% block title %} My blog on QA {% endblock %}</title>
</head>

<tbody>
<header> Q & A about QA</header>
    {% load static %}
    <img src="{% static 'blog/img/QualityAssurance.jpeg' %}" alt="Mon image" />

    <div>

        <nav>
            {% include "navigationBar.html" %}
        </nav>
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <footer>&copy; QA</footer>
</tbody>
</html>