:root {
    --main-theme-color: #ac0000;
}

body {
    background-color: #ececec;
    }

header {
 transform: translate(50%, 0%);
}

.homeButton img {
    display: block;
    width: 15%;
    height: 15%;
}

/*//////////////////
// navigation Bar //
//////////////////*/
#navigationBar {
    min-height:40px;
    background: var(--main-theme-color);
    margin:0;
}
#navigationBar ul {
    display:inline-block;
    margin:0;
    padding:0;
    list-style-type:none;
    text-align:center;
    float: right;
}
#navigationBar li {
    float:left;
    margin:auto;
    padding:0;
    background-color:var(--main-theme-color);
}
#navigationBar li a {
 display:block;
 width:100px;
 color:black;
 text-decoration:none;
 padding:10px;
 }
#navigationBar li a:hover {
 color:#FFD700;
 }
#navigationBar ul li ul {
 display:none;
 }
#navigationBar ul li:hover ul {
 display:block;
 }
#navigationBar ul li:hover ul li {
 transform: translate(50%, 0%);
 float:none;
 }

/*//////////////////
// articles list  //
//////////////////*/

.title img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 30%
}

.articles-list {
    width:85%;
}
.content {
    margin: 100px;
}
.article {
    background: white;
    margin: 20px auto;
    width: 75%;
    height:100%;
    border: 1px solid var(--main-theme-color);
    padding: 10px;
}
.article img {
    width: 100px;
    height: 100px;
    float: left;
}
.article .articleContent {
    margin-left: 110px;
}
.article h2 {
    color: var(--main-theme-color);
}
#infos-and-tools {
    width:250px;
    height:100%;
}
#infos-and-tools .infos {
    margin: 10px;
}
#infos-and-tools h2 {
    color: var(--main-theme-color);
}
.col-container {
    display:table;
}
.col {
    display:table-cell;
}

.presentation {
    background: white;
    border: 1px solid var(--main-theme-color);
}
.presentation img {
    margin: 10px;
    width:230px;
}
.presentation .presentation-text {
    margin: 5px;
}

